[submodule "Cpp-Exercises-Level-1"]
	path = Cpp-Exercises-Level-1
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Level-1.git
[submodule "Cpp-Exercises-Level-2"]
	path = Cpp-Exercises-Level-2
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Level-2.git
[submodule "Improve-my-Cpp-knowledge"]
	path = Improve-my-Cpp-knowledge
	url = https://github.com/MohamedRaghebOmer/Improve-my-Cpp-knowledge.git
[submodule "Cpp-Exercises-Level-3"]
	path = Cpp-Exercises-Level-3
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Level-3.git
[submodule "Cpp-Exercises-Level-4"]
	path = Cpp-Exercises-Level-4
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Level-4.git
[submodule "Cpp-Exercises-Level-5"]
	path = Cpp-Exercises-Level-5
	url = https://github.com/MohamedRaghebOmer/Cpp-Exercises-Level-5.git